/* Global */
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(../font/varela_round.woff2) format('woff2');
}

body {
	margin: 0;
	font-family: "Varela Round", sans-serif;
}
a {
	text-decoration: none;
}
h1, h2 {
	font-size: 15.5px;
}
h1, h2, h3, h4 {
	text-align: center;
}

/* Navigation Bar */
nav {
	max-height: 0px;
	transition: 0.8s ease;
	-webkit-transition: 0.8s ease;
}
nav a {
	display: block;
	padding: 15px 0;
	text-align: center;
	color: white;
	background-color: black;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	border-bottom: 0.5px solid #191919;
}
nav a:hover {
	background-color: #00796B;
}

/* Home Section */
.home {
	min-height: 100vh;
	background-color: #1e1e1e;
	position: relative;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	overflow: hidden;
}
.home img.banner {
	max-width: 100%;
	position: absolute;
	bottom: 6vh;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
}
.home img.logo {
	width: 468px;
	max-width: 100%;
	margin: 0 auto 26px auto;
	display: block;
}
.home svg {
	margin: 20px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	cursor: pointer;
	fill: #bbb;
	width: 30px;
	height: 30px;
}
.home svg:hover {
	fill: #777;
}
.home .text-container {
	position: absolute;
	top: 20vh;
	width: 100%;
}
.home .text-container h2 a {
	color: #666;
	letter-spacing: 0.5px;
	transition: 0.2s;
	-webkit-transition: 0.2s;
}
.home .text-container h2 a:hover {
	color: #009688;
	font-size: 19px;
	font-weight: bold;
}
.home .text-container h2 a.download {
	color: #888;
	font-size: 22px;
	font-weight: bold;
}
.home .text-container h2 a.download:hover {
	color: #009688;
	font-size: 25px;
}

/* What is Oneofakind */
.what {
	background-color: #1e1e1e;
	padding: 40px 10px 100px 10px;
}
.what h3 {
	text-transform: uppercase;
	color: white;
	letter-spacing: 1px;
	background: url('../img/arrow-line.png') no-repeat center bottom;
	background-size: 236px 13px;
	padding-bottom: 24px;
	margin: 0.67em 0;
	line-height: 1.1em;
}
.what p {
	text-align: center;
	color: #8c9398;
	word-spacing: 1px;
	font-size: 14px;
	line-height: 24px;
}

/* Devices */
.devices {
	overflow: hidden;
}
.devices .swag {
	background: url('../img/swag.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	height: 800px;
	position: relative;
}
.devices .swag .text-container {
	width: 50%;
	position: absolute;
	margin-top: 180px;
}
.devices .swag .text-container h1 {
	font-weight: bold;
	font-size: 37px;
	color: white;
	letter-spacing: 5px;
	line-height: 1.3em;
}
.devices .swag .text-container h1 span {
	font-size: 24px;
}
.devices .swag .devices-list-container {
	height: auto;
	background-color: black;
	opacity: 0.7;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 50px 0;
}
.devices .swag .devices-list-container .devices-list {
	float: left;
	width: 33.33%;
}
.devices .swag .devices-list-container .devices-list h3 {
	color: white;
	letter-spacing: 0.5px;
	background: url('../img/arrow-line.png') no-repeat center bottom;
	background-size: 236px 13px;
	font-size: 25px;
	padding-bottom: 25px;
	margin-bottom: 10px;
}
.devices .swag .devices-list-container .devices-list ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.devices .swag .devices-list-container .devices-list ul {
	text-align: center;
}
.devices .swag .devices-list-container .devices-list ul li {
	margin-bottom: 10px;
}
.devices .swag .devices-list-container .devices-list ul li a {
	color: white;
	font-weight: bold;
	font-size: 15px;
	cursor: pointer;
	transition: 0.3s;
	-webkit-transition: 0.3s;
}
.devices .swag .devices-list-container .devices-list ul li a:hover {
	color: #009688;
}

/* Footer */
footer {
	padding: 20px 30px;
	background-color: black;
	overflow: auto;
}
footer p {
	float: right;
	color: white;
	font-size: 14px;
}
@media screen and (max-width: 800px){
	.devices .swag .text-container {
		width: 100%;
	}
    .devices .swag .text-container h1 {
		font-size: 32px;
	}
	.devices .swag .text-container h1 span.small {
		font-size: 19px;
	}
	.devices .swag .devices-list-container .devices-list {
		width: 100%;
	}
	.devices .swag {
		height: 930px;
	}
}